{% extends 'base/main.html' %}
{% block content %}
<div class="Header">
    <h1 top-header>SSRC To-Do App</h1>
    <p top-para>Hi Club Members,<br> Welcome to our TO-DO app</p>
</div>
<div class="header-bar">
    <h1 class="main-page">Login your Account, If registered</h1>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p class="main-page">If you don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>
{% endblock content %} 